
/**
 * page-level styling.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Prevent certain mobile browsers from automatically zooming fonts.
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 *
 *  Adopted from: github.com/inuitcss/base.page
 *
 */


html {
  font-size: percentage(base(rootFontSize) / 16);
  background-color: base(background);
  color: base(color);
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
  -webkit-text-size-adjust: 100%; /* [4] */
      -ms-text-size-adjust: 100%; /* [4] */
  -moz-osx-font-smoothing: grayscale; /* [5] */
   -webkit-font-smoothing: antialiased; /* [5] */
}

body{
  font-family: base(fontFamily);
  font-weight: base(fontWeight);
  font-size: rem(base(fontSize));
  line-height: base(lineHeight);
}
